$dark-baground-color-z-index-1: #363636;
$light-baground-color-z-index-1: #f1f1f3;

$dark-baground-color-z-index-2: #1b1b1b;
$light-baground-color-z-index-2: #ffffff;

$dark-baground-color-z-index-3: black;
$light-baground-color-z-index-3: #dfdfdf;

$dark-border-box-color: #858585;
$light-border-box-color: #cdcdcd;

$dark-text-color-bagraund-z-index-1: #CDCDCD;
$light-text-color-bagraund-z-index-1: #000000;

$dark-bagraund-color-top-level-entry-hover: #363636;
$light-bagraund-color-top-level-entry-hover: #f9f9fb;

$dark-input-buscar-color: white;
$light-input-buscar-color: black;

$dark-button: #464646;
$light-button: #858585;

$red: #ff012d;
$green: #00c400;
$orange: #ff5500;
$blue: #0094c6;
$yellow: #cacc06;
$white: #dfe9e1;
$dark-yellow-background: #636412;
$light-yellow-background: #c9cc0625;