@import '@/assets/_colors-theme.scss';

.main-section {
    margin-bottom: 1rem;
    background-color: $dark-baground-color-z-index-1;

    body.light & {
        background-color: $light-baground-color-z-index-1;
    }

    padding: 1rem;
    border-radius: 20px;

    &__paragraph {
        line-height: 1em;
    }

    &__list {
        >li {
            margin-left: 1rem;
        }
    }
}